<form (ngSubmit)="onSubmit()" #f="ngForm">
  <input
    id="username"
    ngModel
    name="username">
  <input
    id="email"
    ngModel
    required
    email
    name="email">
  <select
    ngModel
    name="select">
  </select>
  <button type="submit" [disabled]="f.invalid">aaaa</button>
  <a routerLink="/">zzz</a>
  <a *ngFor="let path of paths" [routerLink]="['aaa', 'bbb', path]">aaa<br></a>
  <a *ngFor="let path of paths" [routerLink]="prefix.concat([path])">fullPath<br></a>
  <router-outlet></router-outlet>
</form>
